<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Class 1 | Angular Way</title>
		<link rel="stylesheet" href="../css/foundation.css" />
		<script src="../js/vendor/modernizr.js"></script>
	</head>
	<body data-ng-app="notesApp">
		<div class="row">
			<div class="large-8 medium-8 columns">
				<form data-ng-controller="noteController">
                    <h4>Note List</h4>
                    <div class="row">
                        <div class="large-12 columns">
                            <ul>
                                <li data-ng-repeat="note in notes" data-ng-click="deleteNote($index, $event)">
                                    <a href="#">{{note}}</a>
                                </li>
                            </ul>

                            <h6 data-ng-hide="notes.length" style="margin-bottom:25px;">No notes available :(</h6>
                        </div>
                    </div>
					<div class="row">
						<div class="large-12 columns">
							<label>Please enter a new note ({{newNote.length}}/100)</label>
							<input type="text" placeholder="Enter the new note here" data-ng-model="newNote"/>
                            <input type="button" value="Submit" class="button tiny" data-ng-click="addNote($event)"/>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/angular.min.js"></script>
		<script src="js/angular-way.js"></script>
	</body>
</html>
