<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Class 2 | Employee management and stuff ...</title>
		<link rel="stylesheet" href="../css/foundation.css" />
		<script src="../js/vendor/modernizr.js"></script>
	</head>
	<body data-ng-app="employeeApp">
		<div class="row">
			<div class="large-8 medium-8 columns" data-ng-controller="employeeController">
                <h4 class="text-center">Employee management and stuff ...</h4>
                <hr/><br/>
                <div class="row">
                    <div class="large-12 columns">
                    	<div class="large-12 columns right">
                    		<input type="text" placeholder="Employee Google &reg;" data-ng-model="searchText"/>
                    	</div>
                        <table width="100%">
                        	<thead>
                        		<tr>
                        			<th width="60%">Name of Employee</th>
                        			<th>Salary</th>
                        			<th>Grade</th>
                        		</tr>
                        	</thead>
                        	<tbody data-ng-show="employees.length" >
                        		<tr data-ng-repeat="employee in employees | filter:searchText">
                        			<td>{{employee.name}}</td>
                        			<td>{{employee.salary | currency}}</td>
                        			<td>{{employee.score | grade}}</td>
                        		</tr>
                        	</tbody>
                        	<tbody data-ng-hide="employees.length" >
                        		<tr>
                        			<td colspan="3" class="text-center">No employee available :(</td>
                        		</tr>
                        	</tbody>
                        </table>
                    </div>
                </div>
				<div class="row">
					<div class="large-12 columns">
						<fieldset>
							<legend>Add new employee</legend>
							<div class="large-6 columns">
								<input type="text" placeholder="Enter name of employee" data-ng-model="name"/>
							</div>
							<div class="large-6 columns">
								<input type="number" placeholder="Enter salary" data-ng-model="salary"/>
							</div>
							<div class="large-6 columns">
								<input type="number" placeholder="Enter score" data-ng-model="score"/>
							</div>
							<div class="large-6 columns">
								<input type="button" value="Create" class="button tiny right" data-ng-click="hireEmployee()"/>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		
		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/angular.min.js"></script>
		<script src="js/angular-way.js"></script>
	</body>
</html>
