<input type="text" data-ng-model="searchText" placeholder="Cat Search"/>
<ul>
	<li data-ng-repeat="cat in cats | filter:{'name': searchText}">
		<input type="checkbox" data-ng-checked="cat.selected" data-ng-model="cat.selected" value="true"/> {{cat.name}}
	</li>
</ul>