<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Class 6 | Employee management and stuff ...</title>
		<link rel="stylesheet" href="../css/foundation.css" />
		<link rel="stylesheet" href="../css/pikaday.css" />
		<script src="../js/vendor/modernizr.js"></script>
		<style type="text/css">
			span.error {
				display: none
			}
			.error .error {
				display: block
			}
		</style>
	</head>
	<body data-ng-app="employeeApp">
		<div class="row">
			<div class="large-8 medium-8 columns" data-ng-controller="employeeController" data-ng-submit="submit()">
                <h4 class="text-center">Hire Employee</h4>
                <hr/><br/>
                <form name="myForm" novalidate>
	                <div class="row">
	                	<div class="large-6 medium-6 columns">
	                		<label data-ng-class="{error:myForm.firstName.$dirty && myForm.firstName.$invalid}">
	                			First Name
	                			<input type="text" name="firstName" data-ng-model="firstName" data-ng-required="true" data-ng-pattern="/^[A-Za-z]{2,100}$/"/>
	                		</label>
	                	</div>
	                	<div class="large-6 medium-6 columns">
	                		<label data-ng-class="{error:myForm.lastName.$dirty && myForm.lastName.$invalid}">
	                			Last Name
	                			<input type="text" name="lastName" data-ng-model="lastName" data-ng-required="true" data-ng-pattern="/^[A-Za-z]{1,100}$/"/>
	                		</label>
	                	</div>
	                </div>
	                <div class="row">
	                	<div class="large-6 medium-6 columns">
	                		<label data-ng-class="{error:myForm.email.$dirty && myForm.email.$invalid}">
	                			Email Address
	                			<input name="email" type="email" data-ng-model="email"/>
	                		</label>

	                	</div>
	                </div>
	                <div class="row">
	                	<div class="large-6 medium-6 columns">
	                		<input type="submit" value="Submit" class="button small"/>
	                	</div>
	                </div>
	            </form>
            </div>
		</div>
		
		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/angular.min.js"></script>
		<script src="../js/moment.min.js"></script>
		<script src="../js/pikaday.js"></script>
		<script src="js/angular-way.js"></script>
	</body>
</html>
